<header>
  <h2>The ugliest but coolest URL shortener <3 </h2>
    <form method='POST' action='login'>
      <input name='username' placeholder='Username'>
      <input type= 'submit' value='Sign in'>
    </form>
</header>