<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% if(user){ %>
      <h3>You already are logged in!</a></h3>
    <% } else{ %>  
      <form method='POST' action='/login'>
          <input type = 'email' name = 'email' placeholder = 'email'>
          <input type = 'password' name = 'password' placeholder = 'password'>
          <input type = 'submit' value = 'Sign in'>
        </form>
   <% } %>
</body>
</html>