<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <header>
       Please register
    </header>
  <form action = '/register' method = 'POST'>
    <input name = 'email' type = 'email' placeholder = 'email'>
    <input name = 'password' type = 'password' placeholder = 'password'>
    <input type = 'submit' value = 'Register'>
  </form>
</body>
</html>