 <!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <header>
        <% include ./partials/_header %>
    </header>
    
  
      <form method="POST" action='/urls/<%= shortURL %>'>
      <%= shortURL %>
      <input name = '<%= shortURL %>' value = '<%= url %>' >
      <input type = 'submit' value = 'Update'>
      </form>
  
</body>
</html>