<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include ./partials/_header %>
    </header>
    
  
    <% for (const each in urls){ %>
      <%= each + ' : ' + urls[each] %><form method="POST" action='/urls/<%= each %>/delete'><input type = "submit" value="Delete"></form>
    <% }; %>
  
  <a href='#'>Shorten a new URL</a>
</body>
</html>